<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="GitHubPackages" value="https://nuget.pkg.github.com/Ftbom/index.json" />
	</packageSources>
	
	<packageSourceCredentials>
		<GitHubPackages>
			<add key="Username" value="%GITHUB_PACKAGE_USER%" />
			<add key="ClearTextPassword" value="%GITHUB_PACKAGE_TOKEN%" />
		</GitHubPackages>
	</packageSourceCredentials>
	
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="GitHubPackages">
			<package pattern="Ftbom.DesktopNotifications*" />
		</packageSource>
	</packageSourceMapping>
</configuration>